<h1>Pig Latinizer!</h1>

<form action="/piglatinize" method="POST">
<p>Enter your phrase: </p>
<textarea name="user_phrase" id="user_input" cols="30" rows="10"></textarea>
<br>
<button type="submit" value="submit">Submit</button>
</form>